body {
	font-family: "Trebuchet MS", Sans-Serif;
	background: url(../images/body_bg.gif) repeat 0 0 #63842d;
	font-size: 14px;
}

.container {
	background: url(../images/container_bg.gif) repeat-y 0 0;
	margin-bottom: 0;
	padding-bottom: 10px;
}

h1 {
	font-size: 24px;
	color: #a56b2c;
	font-family: Georgia, Serif;
}

h2 {
	color: #56371b;
	font-size: 20px;
	font-weight: bold;
	margin: 50px 0 5px 0;
}

h2.nointro { margin: 0 0 5px 0; }

h3 {
	color: #56371b;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 10px 0 3px 0;
}

p.bottom {
	margin-bottom: 0.3em;
}

blockquote {
	background: #ffffe8;
	border: 1px solid #cfdcb9;
	color: #56371b;
	margin: 0 0 5px 0;
	padding: 5px 10px;
	font-size: 13px;
}

ul {
	list-style-type: none;
	margin: 0 0 20px 0;
}

form label { 
	font-size: 18px;
	font-weight: normal;
	color: #56371b;
	display: block;
}

form input.text, form textarea {
	background: #ffffe8;
	border: 1px solid #cfdcb9;
	color: #56371b;
	padding: 7px;
	font-family: "Trebuchet MS", Sans-Serif;
	font-size: 14px;
	margin: 0 0 20px 0;
}

form textarea {
	height: 150px;
}

form input.text:focus, form textarea:focus {
	background: #ececd3;
}

form input#submit {
	float: left;
}

#nav {
	background: url(../images/nav_bg.jpg) no-repeat 0 0;
	height: 61px;
	overflow: auto;
}

#nav ul {
	margin: 31px 40px 0 0;
	list-style-type: none;
	float: right;
	
}

#nav li {
	float: left;
	margin-left: 20px;
}

#nav li a {
	display: block;
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	font-family: Georgia, Serif;
}

#nav li a:hover { color: #fff777; }

#nav li a.active { color: #fff000; }

#left { color: #56371b; }

#left a { color: #688a32; text-decoration: none; }
#left a:hover { text-decoration: underline; }

#left p img{ margin: 0 10px 0 0; border: solid 1px #cfdcb9;}

#right {
	color: #647c8e;
	background: #e5ebf9;
	border: 6px solid #c2daff;
	font-size: 12px;
}

#right p { padding: 0 16px 0 12px; }
#right p img{ margin: 0 10px 20px 0; border: solid 1px #cfdcb9;}

#right h3 { font-size: 14px; font-weight: bold; color: #647c8e; margin: 25px 0 5px 12px; }

#right a { color: #647c8e; }
#right a:hover { color: #3e8ac5; }

#intro {
	font-size: 16px;
}

.homecallout { margin-top: 35px;}

.staff-member { min-height: 150px; }

#footer{
	background: url(../images/footer_bg.jpg) no-repeat 0 0;
	float: left;
	margin: 50px 0 10px 0;
	padding: 20px 0 15px 0;
}
#footer h1 { font-size: 13px; font-weight: bold; font-style: italic; color: #fff; font-family: Trebuchet, Arial, Sans-Serif; margin: 10px 0 0 40px;}
#footer p { font-size: 11px; font-weight: bold; color: #b7aa98; font-family: Arial, Sans-Serif; margin: 1px 0 0 40px;}

#footer a { color: #b7aa98; text-decoration: underline;}
#footer a:hover { color: #fff; text-decoration:underline;}
