---
title: "Projects"
---

<div class="container">
  <h1>Projects</h1>
  <div class="card-grid card-grid-projects">
  	<div class="row">
  		<% 8.times do %>

          <div class="card sloan-digital">
            <a href="#">
            <div class="thumbnail">
              <div class="project-img"></div>
              <div class="caption">
                <h2>Sloan Digital</h2>
                <ul class="list-unstyled">
                  <li>Branding</li>
                </ul>
              </div>
            </div>
            </a>
          </div>

  		<% end %>
  	</div>
  </div>
</div>
