.card {
	a {
		h2 {
			//color: $link-color;
      font-family:  $font-family-serif;
      font-size: $font-size-h2;
      letter-spacing: -.01em;
      line-height: $line-height-sm;
      margin: .6em 0 0;
      text-align: center;
      text-transform: none;
		}
		// &:hover {
		// 	h2 {
		// 		color: $gray-light;
		// 	}
		// }
	}

	.thumbnail {
		margin-bottom: 15px;
		padding: 0;
		background-color: $white;
		background-color: rgba(255,255,255,.9);
		border: none;
		@include border-radius(0);

		@media (min-width: $screen-sm-min) {
			margin-bottom: $space-md;
		}

		.caption {
			padding-bottom: .8em;

      li {
        color: $black-light;
        font-family:  $font-family-sans;
    		font-size: .6em;
        font-weight: $font-weight-semi;
        letter-spacing: .06em;
        text-align: center;
        text-transform: uppercase;
    	}
		}
	}
}
