.card {
	a {
		h2 {
			color: $link-color;
			text-align: center;
		}
		&:hover {
			h2 {
				color: $link-color-hover;
			}
		}
	}

	li {
		text-align: center;
		font-size: $font-size-xs;
		color: $black;
	}

	.thumbnail {
		margin-bottom: 15px;
		padding: 0;
		background: $white;
		background: rgba(255,255,255,.9);
		border: none;
		@include border-radius(0);

		@media (min-width: $screen-sm-min) {
			margin-bottom: $space-md;
		}
	}
}
