.footer-global {
  background-color: $white;
  border-top: 5px solid $bg-color;
  padding: 100px 0;
  position: relative;

  @media (max-width: $screen-xs-max) {
    padding: $space-xl 10px;
  }

  big {
    color: $black-dark;
    font-size: $font-size-lg;
    letter-spacing: -0.04em;
    line-height: $line-height-md;

    em {
      color: $black;
      font-style: normal;

      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }

  small {
    color: $black-darker;
    font-size: $font-size-xs;
    margin-bottom: $space-md;
  }
}

.footer-links {
  background: $white;
  margin-bottom: $space-md;
  padding: $space-md $space-sm 110px;

  a {
    background-color: transparent;
    color: #a6a298;
    display: inline-block;
    font-size: .8em;
    font-weight: $font-weight-semi;
    padding: .8em 1.2em;
    @include border-radius(2px);

    &.active,
    &:focus {
      background-color: $purple;
      color: $white;
    }
    &:hover {
      background-color: lighten($purple,10);
      color: $text-color;
    }
  }
  ul {
    margin-bottom: 0;

    li {
      display: block;
      margin: $space-xs;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

.footer-social {
  margin-bottom: $space-lg;

  a {
    color: $black;

    &:hover {
      color: $white;

      .fa {
        background: $link-color;
      }
    }

    .fa {
      font-size: $font-size-md;
      background: transparent;
      border-radius: 50%;
      height: 1.75em;
      margin: 0;
      padding: .4em 0;
      width:  1.75em;
    }
  }

  li {
    padding: 0;
  }
}
