.footer-global {
  margin-top: $space-md;
  text-align: center;
}

.footer-copyright {
  margin-bottom: $space-lg;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .075em;
}

.footer-divider {
  @include block-spacing(margin, lg);
}

.footer-links {
  a {
    font-size: $font-size-medium;

    &.active,
    &:focus,
    &:hover {
      color: $red;
    }
  }
}

.footer-location-hours {
  line-height: $line-height-sm;

  p {
    margin-bottom: 1.5em;
  }

}

.footer-press {
  margin: $space-xl 0 $space-md;
  padding-top: $space-md;
  background: image-url('navbar-bg.png') 0 -33px repeat-x;
  @include card-grid(2,2,4,4);

  @media (max-width: $screen-xs-max) {
    margin-top: $space-md;
    padding-top: $space-xs;
    font-size: $font-size-medium;
    line-height: $line-height-md;
  }

  img {
    margin-bottom: $space-xs;
    width: 50%;
    height: auto;

    @media (max-width: $screen-md-max) {
      width: 50%;
    }
    @media (max-width: $screen-sm-max) {
      width: 40%;
    }
    @media (max-width: $screen-xs-max) {
      width: 70%;
    }
  }

  .card {
    @include block-spacing(padding, sm);
  }
}
