.footer-global {
  margin-top: $space-md;
  text-align: center;
}

.footer-links {
  margin-bottom: $space-xs;

  a {
    padding: .5em;
    display: block;
    font-size: $font-size-md;

    &.active,
    &:focus,
    &:hover {
      color: $white;
      background: $gold;
    }
  }
}

.footer-small {
  margin-bottom: $space-md;
  font-size: $font-size-xs;
}

.footer-social {
  margin-bottom: $space-xs;

  @media (max-width: $screen-xs-max) {
    &:after,
    &:before {
      content: "—";
      display: block;
      color: $tan-dark;
    }
  }

  a {
    color: $black;

    &:hover {
      color: $tan;

      .fa {
        background: $gold;
      }
    }

    .fa {
      margin: 0;
      padding: .4em 0;
      font-size: $font-size-md;
      background: transparent;
      border-radius: 50%;
      width:  1.75em;
      height: 1.75em;
    }
  }

  li {
    padding: 0;
  }

  ul {
    margin: 1em 0;
  }
}
