.navbar-default {
  margin: 0;
  padding: 0 0 2px 0;
  background: $white;
  border: none;
  border-radius: 0;

  .navbar-nav {
    li {
      //float: none;
      display: inline-block;

      @media (min-width: $screen-sm-min) {
        //padding-left: .5em;
      }

      a {
        padding: 4em 1.25em .75em;
        color: #a6a298;
        font-size: .8em;
        font-weight: $font-weight-bold;

        @media (max-width: $screen-xs-max) {
          margin: 0;
          padding: 12px;
          border-top: 1px solid $border-color;

          &:after,
          &:before {
            padding: 0 1em;
            content: "★";
            font-size: 7px;
            vertical-align: 15%;
          }
        }

        &.active,
        &:focus {
          @include border-radius(0);
          background: $purple;
          color: $white;
        }
        &:hover {
          background: lighten($purple,10);
        }
      }
    }
  }

  .navbar-collapse {
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

// .navbar-header {
//   padding: $space-sm 0;
//   width: 100%;
//
//   @media (max-width: $screen-xs-max) {
//     margin: 0;
//   }
// }

.navbar-logo {
  //margin-top: 2.25em;
  @include bg-image-retina('logo', png, 196px, 75px, 0, 0);
  display: block;
  width: 196px;
  height: 75px;
}

.navbar-right {
  margin-right: 0;
}

.navbar-toggle {
  margin: 50px 5px 0 0;
  border: none;
  @include border-radius(2px);
  color: $tan;

  &:focus, &:hover {
    color: $white;
  }

  .fa-lg {
    vertical-align: -25%;
  }
}
