.index {
  .lead {
    margin: 0 $space-xl $space-xl;
    font-size: $font-size-large;

    @media (max-width: $screen-xs-max) {
      margin: $space-lg;
      font-size: $font-size-large - 3;
    }
  }
}
