.index {
  h2 {
    background-color: $bg-color;
    bottom: 0;
    display: table-cell;
    //font-size: 8vw;
    font-size: 700%;
    padding: $space-xs;
    //width: 75%;
  }
  .banner {
    display: table;
    width: 100%;
  }
  // .lead {
  //   margin: 0 $space-xl $space-xl;
  //   font-size: $font-size-lg;
  //
  //   @media (max-width: $screen-xs-max) {
  //     margin: $space-lg;
  //     font-size: $font-size-lg - 3;
  //   }
  // }
}
