.press {
  .card-grid {
    @include card-grid(1,2,2,2);
    padding: 0 $gutter/2;
  }
}

.press-article {
  margin-top: $space-xl;

  @media (max-width: $screen-xs-max) {
    margin-top: $space-sm;
  }
}

.press-body {
  margin-top: $space-md;
  font-size: $font-size-base;
  line-height: $line-height-lg;
}

.press-card {
  border-top: 1px solid $border-color;

  .card-wrapper {
    padding: $space-md;
  }
}

.press-filter {
  padding: $space-sm 0 $space-sm 0;
  display: block;
  border-top: 1px solid $border-color;
}

.press-pagination {
  padding: $space-sm 0 $space-xs 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  li > a {
    padding: 0 $space-xs;
    display: inline-block;
  }
  .disabled {
    color: $gray-dark;
  }
}

.press-source {
  font-family: $font-family-sans;
  font-size: $font-size-medium;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: $gray-dark;
}
