.project-detail main {
  .project-header {
    position: fixed;
    top: 70px;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      padding-top: 50px;
    }

    h1 {
      font-family: $font-family-sans;
      font-size: .65em;
      font-weight: $font-weight-bold;
      letter-spacing: .1em;
      line-height: 1.2em;
      padding: .95em 2em 1em;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: $screen-sm-min) {
        font-size: $font-size-xs;
        letter-spacing: .2em;
      }
    }

    p {
      letter-spacing: -.06em;
      line-height: .2em;
      margin: $space-xl 0 .3em;
      padding: .2em;
      text-align: center;
    }
  }

  .project-content {
    padding: 20px 0 $space-xl;
    position: relative;
  }

	.project-examples {
    figure {
      height: auto;
      position: relative;
    }

    figure:hover figcaption {
      opacity: 1;
    }

    figcaption {
      position: absolute;
      top: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      opacity: 0;
      background-color: rgba(255,255,255,.5);
      transition: all 0.5s 0.4s ease;
    }

    figcaption h5 {
      border: 2px solid $white;
      color: $white;
      display: inline-block;
      font-size: $font-size-base;
      font-style: italic;
      left: 20%;
      margin: 0;
      padding: 1em;
      position: absolute;
      right: 20%;
      text-align: center;
      top: 40%;
    }

    .img-responsive {
      margin-bottom: 20px;
    }
	}

	.project-topics {
    margin-bottom: 20px;
		padding: $space-xl;

    @media (max-width: $screen-xs-max) {
      padding: $space-xl $space-lg;
      text-align: center;
    }

    h2 {
      font-size: $font-size-h2;
      letter-spacing: .05em;
      margin-bottom: .25em;
    }

    p {
      font-size: $font-size-sm;
    }

    ul {
      margin-bottom: 2em;

      li {
        font-style: italic;
      }
    }
	}
}
