/* Project builder
------------------------------------------------------------------------------*/
// (project name, color, text color, )
@include project('sloan-digital', #c12525, $white);


/* Project Landing
------------------------------------------------------------------------------*/
.projects {
	//background: image-url('projects-bg.jpg') no-repeat 30% 30% $tan;

	.card-grid-projects {
	  @include card-grid(1,3,3,4);
	}

	.project-list {
		margin: 0;

		li {
			padding: 0;
			text-transform: capitalize;

			&:after {
				content: ', ';
			}

			&:last-of-type {
				&:after {
					content: '';
				}
			}
		}
	}
}
