.thumbnail {
	padding: 6px;
	background: transparent;
	border: 1px solid $border-color;
	@include border-radius(0);

	@media (min-width: $screen-lg-min) {
    min-height: 510px;
  }
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    min-height: 455px;
  }
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    min-height: 445px;
  }

	.home-thumbnail {
		border-bottom: 3px solid $red-dark;

		&.beer {
			@include bg-image-jumbotron('home-thumbnail-beer.jpg', left, top, 280px, 250px, 200px, 180px, 250px);
		}
		&.crowd {
			@include bg-image-jumbotron('home-thumbnail-crowd.jpg', left, top, 280px, 250px, 200px, 180px, 250px);
		}
		&.sides {
			@include bg-image-jumbotron('home-thumbnail-sides.jpg', right, bottom, 280px, 250px, 200px, 180px, 250px);
		}
	}

	.index & {
		.caption {
			margin-top: -55px;
			color: $gray-darker;
		}
		.img-icon {
			@media (max-width: $screen-sm-max) {
	      width: 80px;
	      height: auto;
	    }
			@media (max-width: $screen-xs-max) {
	      width: 75px;
	      height: auto;
	    }
	  }
	}
}
