---
title: Press
pageable: true
press: false
---
<div class="container-fluid-bleed">
  <div class="row">
    <div class="col-xs-12">
      <div class="intro">
        <div class="jumbotron jumbotron-press"></div>
        <h1><%= image_tag 'star-big.png' %> Press <%= image_tag 'star-big.png' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 ">
      <%= partial 'partials/press-filter' %>
      <%= partial 'partials/press', :locals =>{paginate: paginate, num_pages: num_pages, prev_page: prev_page, next_page: next_page, page_number: page_number, page_articles: page_articles} %>
    </div>
  </div>
</div>
