a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

body {
  background: $bg-color;
  font-family:  $font-family-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-reg;
  line-height: $line-height-base;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-reg;

  .footer-global & {
    @media (max-width: $screen-xs-max) {
      margin-top: $space-lg;
    }
  }
}

h1 {
  margin: .4em 0;
  font-family:  $font-family-sans;
  font-size: $font-size-h1;
  line-height: .85;
  letter-spacing: -.01em;
  color: $tan-dark;
  text-transform: uppercase;

  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    font-size: $font-size-h1 * .85;
  }
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h1 * .75;
  }
}

h2 {
  margin: .4em 0 0;
  font-family:  $font-family-sans;
  font-size: $font-size-h2;
  letter-spacing: -.02em;
  line-height: $line-height-sm;

  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    font-size: $font-size-h2 * .9;
  }
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h2 * .85;
  }
}

hr {
  border-color: $border-color;
  color: $border-color;

  &.spacer{
    border-color: transparent;
    color: transparent;

    &.spacer-lg {
      margin: $space-md 0;
    }
    &.spacer-xs {
      margin: $space-xs 0;
    }
  }
}

nav {
  font-family:  $font-family-sans;
  letter-spacing: .05em;
  text-transform: uppercase;

  a,
  a:hover {
    text-decoration: none;
  }
}
