a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
  }

  h1 &,
  h2 &,
  h3 & {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

body {
  background: $tan;
  font-family:  $font-family-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-reg;
  line-height: $line-height-base;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

form {
  input,
  input.text,
  textarea,
  textarea.textarea {
    border: none;
  }
  label {
    text-transform: uppercase;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-reg;

  .footer-global & {
    @media (max-width: $screen-xs-max) {
      margin-top: $space-lg;
    }
  }
}

h1 {
  //margin: 0;
  font-family:  $font-family-sans;
  font-size: $font-size-h1;
  line-height: .85;
  color: $gold;

  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    font-size: $font-size-h1 * .85;
  }
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h1 * .75;
  }
}

h2 {
  font-family:  $font-family-sans;
  font-size: $font-size-h2;
  letter-spacing: .03em;
  line-height: $line-height-sm;

  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    font-size: $font-size-h2 * .9;
  }
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h2 * .85;
  }

  small {
    display: block;
    font-family:  $font-family-sans;
    font-size: 15px;
    letter-spacing: .15em;
    color: $red;

    &:after,
    &:before {
      padding: 0 .25em;
      content: "•";
    }
  }

  .menu-content & {
    margin: 0 0 2px 0;
    padding: $space-sm 0 $space-xs;
    font-size: $font-size-h2 * 1.15;
    background: $black;
    color: $tan;

    img {
      margin: -.2em 0 0 0;
      @media (max-width: $screen-xs-max) {
        width: 25px;
        height: auto;
      }

    }
  }
}

h3 {
  font-size: $font-size-h3;
  font-family: $font-family-sans;
  letter-spacing: .05em;
  color: $red;
}

hr {
  border-color: $border-color;
  color: $border-color;

  &.spacer{
    border-color: transparent;
    color: transparent;

    &.spacer-lg {
      margin: $space-md 0;
    }
    &.spacer-xs {
      margin: $space-xs 0;
    }
  }
}

img {
  margin-bottom: 16px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 20px;
  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 30px;
  }
}

main {
  margin: 10% 0;
}

nav {
  font-family:  $font-family-sans;
  font-size: $font-size-medium;
  letter-spacing: .1em;
  text-transform: uppercase;

  a,
  a:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 1.75em;
  letter-spacing: .015em;
}
