body {
  background: url('/images/bg-gray.gif') repeat;
  padding-top: 50px;
  font-family: $baseFontFamily;
  font-style: normal;
  font-weight: 400;
  color: $grayDarker;
}

footer {
  margin: 300px 0 50px 0;
  text-align: center;
}

.container-fluid {
  padding: 0;
}


h1 {
  font-family: $headlineFontFamily;
  font-style: normal;
  font-weight: 700;
  font-size: 6em;
  text-transform: lowercase;
  letter-spacing: -.04em;

  @media (max-width: $screen-sm) {
    font-size: 5em;
  }
}
