<div class="container-bleed">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target="#navbar">
      MENU
    </button>
    <%# link_to ' ', '/', class: 'navbar-logo' %>
    <%= link_to "<em>r</em>ob <em>sloan 39</em>", '/', class: 'navbar-brand' %>
  </div>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" class="<%= 'active' if current_page.path =~ /^index || ^projects/ %>">Projects</a></li>
      <li><a href="/journal" class="<%= 'active' if current_page.path =~ /^journal/ %>">Journal</a></li>
    </ul>
  </div>
</div>
