---
title: About
headline: ample
lead: Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.
small: Cincinnati, Ohio
---
<header class="ample">

  <div class="header-billboard">
    <div class="container">
      <div class="billboard-img"></div>
    </div>
  </div>

  <div class="container">

  </div>
</header>

<article>
  <div class="container">

    <div class="header-text">
      <div>
        <h1><%= current_page.data.headline %></h1>
        <p><%= current_page.data.lead %></p>
        <small><%= current_page.data.small %></small>
      </div>
    </div>

    <div class="content">
      <% 2.times do %>
      <%= image_tag ('images/ample_site1.jpg'), alt:'ample website', class:'img-responsive' %>
      <p class="caption">Home</p>
      <% end %>
    </div>
  </div>
</article>
