---
title: "Journal"
metaKeywords: "designer, graphic design, interactive design, digital design, user experience, ux, interface design, ui, prototyping, advertising, marketing, strategy, Cincinnati, Ohio, Bend, Oregon"
metaDescription: "Digital design, UX and graphic design from Cincinnati, Ohio to Bend, Oregon"
footerSimple: true
---

<div class="container">
  <h1><%= current_page.data.title %></h1>
  <h2 class="text-center"><small>Design. Faith. Life.</small></h2>
  <hr class="spacer spacer-md">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <% data.journal.each_with_index do |post, i| %>
        <div class="tumblr-post">
          <% if i < 10 %>
            <%= post[1] %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
