---
title: Designer. Front-end developer. Human.
pageable: false
per_page: 4
press: true
---

<div class="container">
  <div class="row">
    <% 13.times do %>
    <div class="col-xs-1">
      <%= image_tag 'http://placehold.it/200x200', class:'img-responsive' %>
    </div>
    <% end %>
  </div>
</div>
