---
title: UX, UI, Web Design, Front-End Dev &amp; Branding
pageable: false
per_page: 4
press: true
---

<div class="container-fluid-bleed">
  <h1 class="sr-only"><%= current_page.data.title %></h1>
  <% data.projects.each do |i, project| %>
    <% if project.home %>
    <a href="/projects/<%= project.name %>.html">
      <div class="row">
        <div class="banner <%= project.name %>">
            <div class="col-md-8">
              <h2><%= project.title %></h2>
            </div>
          </div>
        </a>
    </div>
    <% end %>
  <% end %>
</div>
