---
title: "Ah nuts!"
metaKeywords: ""
metaDescription: ""
footerSimple: true
---

<div class="container">
  <h1><%= current_page.data.title %></h1>
  <p class="lead text-center">Sorry, this page doesn't exist. You don't have to <%= link_to 'go home', '/' %> but you can't stay here.</p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
</div>
